* {
  padding: 0;
  margin: 0;
}

:root {
  --JapanWhite: #EAEAEA;
  --JapanRed: rgb(184, 0, 28);

  --headerHeight: 50px
}

body {
  background-color: var(--JapanWhite);
  font-family: sans-serif;
  background-image: url(washi.webp);
  overflow-x: hidden;

  font-size: 20px
}

h1, h2, h3 {
  text-align: center;
}


/* main {
  margin: 0px 15% 30px;
  background-color: var(--JapanWhite);
  padding: 0 10px;
} */

img {
width: 15%;
height: auto;
padding: 5px;
}

.flex {
  display: flex;
}

.flexCol {
  display: flex;
  flex-direction: column;
}

header {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--JapanRed);
  width: 100%;
  height: var(--headerHeight);
  backdrop-filter: blur(40px);
  z-index: 100;
}

header h1 {
  color: var(--JapanWhite);
  padding: 5px 7px;
  margin-left: 20px;
}

header ul {
  display: flex;
  list-style: none;
  margin-right: 20px;
}

header li {
  margin: 5px 10px;
  padding: 0 10px;
}

header a {
  text-decoration: none;
  color: var(--JapanWhite);
  font-size: 1.15em;
  padding: 3px 10px;
  border-radius: 7px;
  transition: 0.2s ease;
}
header a:hover {
  background-color: var(--JapanWhite);
  color: var(--JapanRed);
}
/* End of header */



#start {
  padding: var(--headerHeight) 15% 0;
  background-color: var(--JapanWhite)
}
#stillWhite {
  padding: 0px 15% 15px;
  background-color: var(--JapanWhite)
}



/* Tokyo section */
#tokyo h1 {
  padding-top: var(--headerHeight);
  text-align: center;
  font-size: 2em;
  /* margin: 0px 15% 30px; */
}
#specBG {
  margin: 0px 10%;
  background-color: var(--JapanWhite);
  padding: 0 10px 0 0;
  display: flex;
}

#firstSubwayPic {
  height: 420px;
  width: auto;
}

#MUJI {
  background-color: #901C1F;
  color: #FFF;
  /* padding: 0 0 20px 0; */
}
#MUJI p {
  line-height: 1.3em;
  padding: 0 0 5px 0;
}

#MujiInWritingPic {
  position: relative;
  width: 100vw;
  padding: 222px 0;
}

.padding {
  padding: 0 10%;
}

#MujiMarketPictures img {
  width: 49.75%;
  height: auto;
  padding: 0;
}

#bottlesNcream {
  background-image: url(./images/Day1Tokyo/MujiRedGreenBottles.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 100vh; /* This ensures that the div covers at least the full viewport height */
  width: 100%;
  overflow: hidden;
}
#mujiIcecream {
  width: fit-content;
  min-height: 670px;
  background-color: var(--JapanWhite);
  color: #000;
  padding: 10px;
  position: relative;
  z-index: 1;
  margin: 17% 10%;
  background-color: var(--JapanWhite);
}

#mujiIcecream video {
  float: left;
  padding: 0 5px 5px 0;
}

#sevenEleven {
  background-image: url(./images/Day1Tokyo/SevenElevenGPT1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#sevenElContent {
  background-color: var(--JapanWhite);
  margin: 0 10%;
  padding: 10px;
}

/* END OF DAY ONE */





/* DAY TWO */

/* #dayTwo {
} */
#D2Gradient {
  padding: 0 5%;
  background: linear-gradient(#3E6B87 3px, #B9B7A9 43px, #D6C0A0, #D0AB85);
}

#pubVending {
  width: 600px;
  float: right;
}

#TamagoyakiTsukijiShoro {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr
}

#D2Starbucks {
  color: #EAEAEA;
  padding: 0 5%;
  background-color: #006439;
}


















/* This Is Where All Of The Images Are Stored */
#whyDidntNthOfTypeOneWork {
  margin-top: calc(var(--headerHeight) + 18px);
  width: 50%;
  position: relative;
  transform: translateX(-50%);
  left: 50%; 
}
.width50percentered {
  width: 50%;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
}

#specBG #pokemonWC {
  padding: 0 10px 0 0;
  height: 600px;
  width: auto;
}

#mujiBottles {
  padding: 0;
  width: 100%;
  position: absolute;
}

#mujiIcecream img {
  height: 500px;
  width: auto;
}

#tsujikiMarket img {
  height: 320px;
  width: auto;
}










footer {
  text-align: center;
  background-color: var(--JapanRed);
  color: var(--JapanWhite)
}